html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: skyblue;
  padding: 3rem 0;
}

main {
  padding: 0 1.5rem;
  max-width: 900px;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-gap: 10px;
  /* grid-template-columns: repeat(3, minmax(100px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
}

.items {
  font-size: 25px;
  font-weight: bold;
  background-color: yellow;
}
