@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    background-color: #2A344D;
    padding: 0 6rem;
}

.logo {
    font-weight: 600;
    font-size: 18px;
    align-items: center;
    padding: 0 22rem 0 0;
}

.logo img {
    padding: 0 0.5rem 0 0;
}
.ham-menu {
    
}

header {
    /* padding: 0 6rem; */
}

nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0 0 0;
    font-size: 14px;
}

.nav-wrapper {
    display: flex;
    list-style: none;
    
}

.nav-wrapper li {
    justify-content: space-between;
    padding: 0 2rem;
}

.nav-wrapper li a {
    text-decoration: none;
    color: white;
}

.nav-wrapper li a:hover {
    border-radius: 30px;
    border-style: solid;
    border-width: 1.5px;
    color: wheat;
    padding: 4px 16px;
}

.ham-menu img {
    width: 16px;
    height: auto;
}

.img-section {
    display: flex;
    justify-content: space-between;
    margin: 6rem 0 0 0;
}
.img-section img {
    width: 25rem;
    height: 25rem;
    border-radius: 30px;
}

h1 {
    font-size: 6rem;
    margin: 0;
}

h4 {
    font-size: 2.3rem;
    font-weight: 500;
    padding: 0 0 3rem 0;
}

.lorem {
    font-size: .8rem;
    line-height: 24px;
    width: 90%;
}

.cta-button {
    border: 2px solid white;
    border-radius: 30px;
    padding: .5rem 3rem;
    margin: 50px 0 0 0;
    display: inline-block;
}